In [62]:
import pandas as pd

In [63]:
dfe=pd.read_csv("C:/Users/ASUS/Downloads/Exchange_Rates.csv")

In [64]:
dfe

            Date Currency  Exchange
0       1/1/2015      USD    1.0000
1       1/1/2015      CAD    1.1583
2       1/1/2015      AUD    1.2214
3       1/1/2015      EUR    0.8237
4       1/1/2015      GBP    0.6415
...          ...      ...       ...
11210  2/20/2021      USD    1.0000
11211  2/20/2021      CAD    1.2610
11212  2/20/2021      AUD    1.2723
11213  2/20/2021      EUR    0.8238
11214  2/20/2021      GBP    0.7126

[11215 rows x 3 columns]

In [65]:
dfe.isnull().sum()

Date        0
Currency    0
Exchange    0
dtype: int64

In [66]:
dfe.dtypes

Date         object
Currency     object
Exchange    float64
dtype: object

In [67]:
dfe["Date"] = pd.to_datetime(dfe["Date"], errors='coerce')

In [68]:
dfe.dtypes

Date        datetime64[ns]
Currency            object
Exchange           float64
dtype: object

In [69]:
dfe.duplicated().sum()

0

In [70]:
dfe.drop_duplicates(inplace=True)

In [71]:
dfe["Date"]

0       2015-01-01
1       2015-01-01
2       2015-01-01
3       2015-01-01
4       2015-01-01
           ...
11210   2021-02-20
11211   2021-02-20
11212   2021-02-20
11213   2021-02-20
11214   2021-02-20
Name: Date, Length: 11215, dtype: datetime64[ns]

In [72]:
dfe.tail()

            Date Currency  Exchange
11210 2021-02-20      USD    1.0000
11211 2021-02-20      CAD    1.2610
11212 2021-02-20      AUD    1.2723
11213 2021-02-20      EUR    0.8238
11214 2021-02-20      GBP    0.7126

In [73]:
dfe.to_csv("D:\\CHITRA\DATASPARK\\clean_exchange.csv",index=False)

In [74]:
df=pd.read_csv("D:/CHITRA/DATASPARK/clean_exchange.csv",parse_dates=["Date"])

In [75]:
df.dtypes

Date        datetime64[ns]
Currency            object
Exchange           float64
dtype: object

In [76]:
#mysql connection

In [77]:
import pandas as pd
import pymysql

path="D:/CHITRA/DATASPARK/clean_exchange.csv"
exchange_df = pd.read_csv(path)
exchange_df['Date'] = pd.to_datetime(exchange_df['Date'])
#Connect to the MySQL database using pymysql
connection = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='2210',
    database='dataspark'
)

try:
    # Create the store table
    create_table_query = """
    CREATE TABLE IF NOT EXISTS exchange (
        Date DATE,
        Currency VARCHAR(255),
        Exchange FLOAT
    );
    """
    
    with connection.cursor() as cursor:
        cursor.execute(create_table_query)
        connection.commit()

    #Insert data from DataFrame into the table
    insert_query = """
    INSERT INTO exchange (Date, Currency, Exchange)
    VALUES (%s, %s, %s)
    """
    
    with connection.cursor() as cursor:
        for index, row in exchange_df.iterrows():
            cursor.execute(insert_query, (
                row['Date'], 
                row['Currency'], 
                row['Exchange']
            ))
        connection.commit()

finally:
    # Close the connection
    connection.close()