In [6]:
import pandas as pd

In [7]:
dfp=pd.read_csv("C:/Users/ASUS/Downloads/Products.csv")

In [8]:
dfp

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,$6.62,$12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,$6.62,$12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,$7.40,$14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,$11.00,$21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,$11.00,$21.57,101,MP4&MP3,1,Audio
...,...,...,...,...,...,...,...,...,...,...
2512,2513,Contoso Bluetooth Active Headphones L15 Red,Contoso,Red,$43.07,$129.99,505,Cell phones Accessories,5,Cell phones
2513,2514,Contoso Bluetooth Active Headphones L15 White,Contoso,White,$43.07,$129.99,505,Cell phones Accessories,5,Cell phones
2514,2515,Contoso In-Line Coupler E180 White,Contoso,White,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones
2515,2516,Contoso In-Line Coupler E180 Black,Contoso,Black,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones
2516,2517,Contoso In-Line Coupler E180 Silver,Contoso,Silver,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones

In [9]:
dfp.isnull().sum()

ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [10]:
dfp.dtypes

ProductKey         int64
Product Name      object
Brand             object
Color             object
Unit Cost USD     object
Unit Price USD    object
SubcategoryKey     int64
Subcategory       object
CategoryKey        int64
Category          object
dtype: object

In [11]:
dfp['Unit Cost USD'] = dfp['Unit Cost USD'].replace('[\$,]', '', regex=True).astype(float)
dfp['Unit Price USD'] = dfp['Unit Price USD'].replace('[\$,]', '', regex=True).astype(float)

In [12]:
dfp.dtypes

ProductKey          int64
Product Name       object
Brand              object
Color              object
Unit Cost USD     float64
Unit Price USD    float64
SubcategoryKey      int64
Subcategory        object
CategoryKey         int64
Category           object
dtype: object

In [13]:
dfp.tail()

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
2512,2513,Contoso Bluetooth Active Headphones L15 Red,Contoso,Red,43.07,129.99,505,Cell phones Accessories,5,Cell phones
2513,2514,Contoso Bluetooth Active Headphones L15 White,Contoso,White,43.07,129.99,505,Cell phones Accessories,5,Cell phones
2514,2515,Contoso In-Line Coupler E180 White,Contoso,White,1.71,3.35,505,Cell phones Accessories,5,Cell phones
2515,2516,Contoso In-Line Coupler E180 Black,Contoso,Black,1.71,3.35,505,Cell phones Accessories,5,Cell phones
2516,2517,Contoso In-Line Coupler E180 Silver,Contoso,Silver,1.71,3.35,505,Cell phones Accessories,5,Cell phones

In [14]:
dfp.duplicated().sum()

0

In [15]:
dfp.drop_duplicates(inplace=True)

In [16]:
dfp.tail()

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
2512,2513,Contoso Bluetooth Active Headphones L15 Red,Contoso,Red,43.07,129.99,505,Cell phones Accessories,5,Cell phones
2513,2514,Contoso Bluetooth Active Headphones L15 White,Contoso,White,43.07,129.99,505,Cell phones Accessories,5,Cell phones
2514,2515,Contoso In-Line Coupler E180 White,Contoso,White,1.71,3.35,505,Cell phones Accessories,5,Cell phones
2515,2516,Contoso In-Line Coupler E180 Black,Contoso,Black,1.71,3.35,505,Cell phones Accessories,5,Cell phones
2516,2517,Contoso In-Line Coupler E180 Silver,Contoso,Silver,1.71,3.35,505,Cell phones Accessories,5,Cell phones

In [17]:
dfp.to_csv("D:\CHITRA\DATASPARK\clean_products.csv",index=False)

In [19]:
path="D:\CHITRA\DATASPARK\clean_products.csv"
df = pd.read_csv(path)

In [21]:
df.dtypes

ProductKey          int64
Product Name       object
Brand              object
Color              object
Unit Cost USD     float64
Unit Price USD    float64
SubcategoryKey      int64
Subcategory        object
CategoryKey         int64
Category           object
dtype: object

In [1]:
#mysql connection

In [22]:
path="D:\CHITRA\DATASPARK\clean_products.csv"
products_df = pd.read_csv(path)

In [23]:
import pandas as pd
import pymysql

path="D:\CHITRA\DATASPARK\clean_products.csv"
products_df = pd.read_csv(path)

#Connect to the MySQL database
connection = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='2210',
    database='dataspark'
)

try:
    #Create the 'products' table
    create_table_query = """
    CREATE TABLE IF NOT EXISTS products (
        ProductKey INT PRIMARY KEY,
        Product_Name VARCHAR(255),
        Brand VARCHAR(255),
        Color VARCHAR(255),
        Unit_Cost_USD FLOAT,
        Unit_Price_USD FLOAT,
        SubcategoryKey INT,
        Subcategory VARCHAR(255),
        CategoryKey INT,
        Category VARCHAR(255)
    );
    """
    
    with connection.cursor() as cursor:
        cursor.execute(create_table_query)
        connection.commit()
        print("Table 'products' created successfully!")

    # Insert data from DataFrame into the 'products' table
    insert_query = """
    INSERT INTO products (ProductKey, Product_Name, Brand, Color, Unit_Cost_USD, Unit_Price_USD, SubcategoryKey, Subcategory, CategoryKey, Category)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    
    with connection.cursor() as cursor:
        for index, row in products_df.iterrows():
            cursor.execute(insert_query, (
                row['ProductKey'],
                row['Product Name'],
                row['Brand'],
                row['Color'],
                row['Unit Cost USD'],
                row['Unit Price USD'],
                row['SubcategoryKey'],
                row['Subcategory'],
                row['CategoryKey'],
                row['Category']
            ))
        connection.commit()
        print("Data inserted successfully into 'products' table!")

finally:
    # Close the connection
    connection.close()

Table 'products' created successfully!
Data inserted successfully into 'products' table!