In [37]:
import pandas as pd

In [38]:
dfst=pd.read_csv("C:/Users/ASUS/Downloads/Stores.csv")

In [39]:
dfst

,StoreKey,Country,State,Square Meters,Open Date
0,1,Australia,Australian Capital Territory,595.0,1/1/2008
1,2,Australia,Northern Territory,665.0,1/12/2008
2,3,Australia,South Australia,2000.0,1/7/2012
3,4,Australia,Tasmania,2000.0,1/1/2010
4,5,Australia,Victoria,2000.0,12/9/2015
...,...,...,...,...,...
62,63,United States,Utah,2000.0,3/6/2008
63,64,United States,Washington DC,1330.0,1/1/2010
64,65,United States,West Virginia,1785.0,1/1/2012
65,66,United States,Wyoming,840.0,1/1/2014
66,0,Online,Online,NaN,1/1/2010

In [40]:
dfst.isnull().sum()

StoreKey         0
Country          0
State            0
Square Meters    1
Open Date        0
dtype: int64

In [41]:
# Replace NaN with 0 for missing values
dfst['Square Meters'].fillna(0, inplace=True)

In [42]:
dfst.isnull().sum()

StoreKey         0
Country          0
State            0
Square Meters    0
Open Date        0
dtype: int64

In [43]:
dfst.dtypes

StoreKey           int64
Country           object
State             object
Square Meters    float64
Open Date         object
dtype: object

In [44]:
dfst['Open Date'] = pd.to_datetime(dfst['Open Date'], format='%m/%d/%Y')

In [45]:
dfst.dtypes

StoreKey                  int64
Country                  object
State                    object
Square Meters           float64
Open Date        datetime64[ns]
dtype: object

In [46]:
dfst.tail()

    StoreKey        Country          State  Square Meters  Open Date
62        63  United States           Utah         2000.0 2008-03-06
63        64  United States  Washington DC         1330.0 2010-01-01
64        65  United States  West Virginia         1785.0 2012-01-01
65        66  United States        Wyoming          840.0 2014-01-01
66         0         Online         Online            0.0 2010-01-01

In [47]:
dfst.duplicated().sum()

0

In [48]:
dfst.drop_duplicates(inplace=True)

In [49]:
dfst.tail()

    StoreKey        Country          State  Square Meters  Open Date
62        63  United States           Utah         2000.0 2008-03-06
63        64  United States  Washington DC         1330.0 2010-01-01
64        65  United States  West Virginia         1785.0 2012-01-01
65        66  United States        Wyoming          840.0 2014-01-01
66         0         Online         Online            0.0 2010-01-01

In [50]:
dfst.to_csv("D:\CHITRA\DATASPARK\clean_stores.csv",index=False)

In [51]:
path="D:\CHITRA\DATASPARK\clean_stores.csv"
df = pd.read_csv(path)

In [52]:
df.dtypes

StoreKey           int64
Country           object
State             object
Square Meters    float64
Open Date         object
dtype: object

In [53]:
df['Open Date'] = pd.to_datetime(df['Open Date'], format='%Y-%m-%d')

In [54]:
df.dtypes

StoreKey                  int64
Country                  object
State                    object
Square Meters           float64
Open Date        datetime64[ns]
dtype: object

In [55]:
df.isnull().sum()

StoreKey         0
Country          0
State            0
Square Meters    0
Open Date        0
dtype: int64

In [56]:
#sql connection

In [57]:
path="D:\CHITRA\DATASPARK\clean_stores.csv"

In [58]:
import pandas as pd
import pymysql

path="D:\CHITRA\DATASPARK\clean_stores.csv"
store_df = pd.read_csv(path)

#Connect to the MySQL database using pymysql
connection = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='2210',
    database='dataspark'
)

try:
    # Create the store table
    create_table_query = """
    CREATE TABLE IF NOT EXISTS stores (
        StoreKey INT PRIMARY KEY,
        Country VARCHAR(255),
        State VARCHAR(255),
        Square_Meters FLOAT,
        Open_Date DATE
    );
    """
    
    with connection.cursor() as cursor:
        cursor.execute(create_table_query)
        connection.commit()

    #Insert data from DataFrame into the table
    insert_query = """
    INSERT INTO stores (StoreKey, Country, State, Square_Meters, Open_Date)
    VALUES (%s, %s, %s, %s, %s)
    """
    
    with connection.cursor() as cursor:
        for index, row in store_df.iterrows():
            cursor.execute(insert_query, (
                row['StoreKey'], 
                row['Country'], 
                row['State'], 
                row['Square Meters'], 
                row['Open Date']
            ))
        connection.commit()

finally:
    # Close the connection
    connection.close()